service:
  name: odin

plugins:
  - serverless-plugin-iopipe
  - serverless-plugin-iam-checker
  - serverless-webpack
  - serverless-cloudformation-resource-counter

provider:
  name: aws
  runtime: nodejs8.10
  stage: local
  environment:
    IOPIPE_TOKEN: ${env:IOPIPE_TOKEN}
    REVISION: ${file(infrastructure/helper.js):revision}
    STAGE: ${opt:stage, self:provider.stage}
    DELETE_STACK_TOPIC:
      Fn::Join:
        - ':'
        - - arn:aws:sns
          - Ref: AWS::Region
          - Ref: AWS::AccountId
          - delete-stack-${opt:stage, self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Resource: '*'
      Action: '*'

custom:
  odin: ${file(./odin.yml)}

functions:
  checkStacks:
    handler: app/check.handler
    events:
      - schedule:
          rate: ${self:custom.odin.dailyRate}
          input:
            staleAfter: ${self:custom.odin.dailyStaleAfter}
            stagesToRetain: ${self:custom.odin.stagesToRetain}
            deleteableStatuses: ${self:custom.odin.deleteableStatuses}
            namesToRetain: ${self:custom.odin.namesToRetain}
      - schedule:
          rate: ${self:custom.odin.hourlyRate}
          input:
            staleAfter: ${self:custom.odin.hourlyStaleAfter}
            stagesToRetain: ${self:custom.odin.stagesToRetain}
            deleteableStatuses: ${self:custom.odin.deleteableStatuses}
            namesToRetain: ${self:custom.odin.namesToRetain}

  deleteStacks:
    handler: app/delete.handler
    events:
      - sns: delete-stack-${opt:stage, self:provider.stage}
    environment:
      EMPTY_ALL_BUCKETS: ${self:custom.odin.emptyAllBuckets}
      BUCKETS_TO_EMPTY: ${self:custom.odin.bucketsToEmpty}

resources:
  Description: Automated service for destroying temporary stacks (retains production, qa, development, and automation stacks)

  Outputs:
    DailySchedule:
      Description: Schedule for daily jobs and maximum stack age in hours before deletion
      Value: ${self:custom.odin.dailyRate}, max ${self:custom.odin.dailyStaleAfter} hours
    HourlySchedule:
      Description: Schedule for hourly jobs and maximum stack age in hours before deletion
      Value: ${self:custom.odin.hourlyRate}, max ${self:custom.odin.hourlyStaleAfter} hours
    StackNamesToRetain:
      Description: Names of stacks that will be retained
      Value: In ${self:custom.odin.namesToRetain}
    StagesToRetain:
      Description: Stages of stacks that will be retained
      Value: In ${self:custom.odin.stagesToRetain}
    StatusesToRetain:
      Description: Statuses of stacks that will be retained
      Value: Not in ${self:custom.odin.deleteableStatuses}

    DeleteStackSNS:
      Description: ARN of the ${opt:stage, self:provider.stage} stage SNS topic for stack deletion
      Value:
        Fn::Join:
          - ':'
          - - arn:aws:sns:us-east-1
            - Ref: AWS::AccountId
            - delete-stack-${opt:stage, self:provider.stage}
      Export:
        Name: odin-${opt:stage, self:provider.stage}-delete-stack-sns
