version: 2.1

orbs:
  node: circleci/node@2.1.0

jobs:
  deploy:
    executor:
      name: node/default
      tag: 'lts'
    parameters:
      stage:
        description: Stage to deploy to
        type: string
        default: ''
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Deploy service
          command: |
            STAGE=<< parameters.stage >>
            [[ ! -z "$STAGE" ]] || STAGE=${CIRCLE_BRANCH%%/*}
            echo Deploying service to stage $STAGE
            npm run deploy -- --stage $STAGE
      # save the .serverless folder to enable looking up & calling the endpoint
      - persist_to_workspace:
          root: .
          paths:
            - .serverless

workflows:
  version: 2
  test-and-deploy:
    jobs:
      # all
      - node/test:
          version: 'lts'

      # branch
      - deploy:
          name: deploy-branch
          context: aws-manwaring
          requires: [node/test]
          filters: &only-branches
            branches:
              ignore: main

      # main - manwaring
      - deploy:
          name: deploy-manwaring
          stage: automation
          context: aws-manwaring
          requires: [node/test]
          filters: &only-main
            branches:
              only: main

      # main - coaches-sandbox automation
      - deploy:
          name: deploy-coaches-sandbox
          stage: automation
          context: aws-coaches-sandbox
          requires: [node/test]
          filters: *only-main

      # main - coaches-prod automation
      - deploy:
          name: deploy-coaches-prod
          stage: automation
          context: aws-coaches-prod
          requires: [deploy-coaches-sandbox]
          filters: *only-main
